
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-control{
    width: 300px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-name{
    margin-top: 20px;
}
