@font-face {
    font-family: "DoloresCyr";
    src: url("fonts/Dolores.ttf");
    src: url("fonts/Dolores.woff");
}

*,
*::before,
*::after {
    font-family: "DoloresCyr", "Comic Sans MS";
    box-sizing: border-box;
    list-style: none;
}

body{
 background-image: url('other-img/bg.png');
 background-repeat: no-repeat;
 background-size: cover;
 font-family: "DoloresCyr";
}

.logo{
    width: 266px;
    height: 210px;
    margin: 0 auto 50px;
    background-image: url('other-img/Logo.svg')
}

.all-button {
    border: none;
    background-color: transparent;
    transition: background-image .3s linear;
    font-size: 15px;
    color: white;
}

.all-button:hover {
    cursor: pointer;
}

.button {
    width: 250px;
    height: 40px;
    background-image: url("button-img/button.svg");
}

.button:hover {
    background-image: url("button-img/button-active.svg");
}

.button-back {
    width: 100px;
    height: 40px;
    color: #22B14C;
    background-image: url("button-img/back-button.svg");
}

.button-back:hover {
    background-image: url("button-img/back-button-hover.svg");
    color: white;
}

.button-middle {
    width: 130px;
    height: 40px;
}

.button-arrow {
    width: 15px;
    height: 27px;
}

.button-back:before {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 15px;
    height: 18px;
    width: 10px;
    background-size: 100%;
    background-position: 50% 50%;
    background-image: url("button-img/arrow.svg");
    transition: background-image .3s linear;
}

.button-back:hover:before {
    background-image: url("button-img/arrow-hover.svg");
    background-color: #1F993F;
}

.button-bgi-start {
    background-image: url("button-img/start-button.svg");
}

.button-bgi-invite {
    background-image: url("button-img/Invite-button.svg");
}

.button-bgi-arrow1 {
    background-image: url("button-img/arrow1.svg");
}

.button-bgi-arrow2 {
    background-image: url("button-img/arrow2.svg");
}

.input-all {
    background-repeat: no-repeat;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: #22B14C;
    background-color: transparent;
}

.input {
    background-image: url("input-img/input.svg");
    width: 300px;
}

.form-ok {
    width: 300px;
    height: 40px;
    display: flex;
}

.input-ok {
    background-image: url("input-img/input-ok.svg");
    width: 250px;
}



.button-ok {
    width: 40px;
    height: 41px;
    background-image: url("button-img/button-ok.svg");
    background-size: cover;
    color: white;
    transform: translate(-6px, -1px);
}

.button-ok:hover {
    background-image: url("button-img/button-ok-hover.svg");
}
.button-small-ok {
    z-index: 100;
    background-image: url("button-img/button-small-ok.svg");
    background-repeat: no-repeat;
    left: 301px;
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 40px;
}

.container-all {
    background: #FFFFFF;
    border: 2px solid #22B04C;
    border-radius: 8px;
    padding: 30px;
}

.container-login {
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: #F1F1F1;
    margin: 0 auto 50px;
    text-align: center;
}

.container-canvas {
    width: 750px;
    height: 400px;
}

.container-chat {
    background: #9BECB3;
    border: none;
    width: 310px;
    height: 450px;
}

.container-error {
    border: none;
    width: 446px;
    height: 315px;
}

.container-choice {
    border: none;
    width: 390px;
    height: 446px;
}

.container-avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    /* background-image: url('./other-img/Logo2.svg'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
}

.formGroup {
    position: relative;
}

.card-wrapper {
    text-align: center;
}

@media (min-width: 1200px) {
    .logo {
        margin-bottom: 0;
    }

    .container-login {
        margin: 50px;
    }
}

.wrapper {
    padding: 0 20px;
}

@media (min-width: 1200px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.div-control {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-name {
    margin-top: 20px;
}
.div-setting input,
.div-setting p {
    margin-bottom: 15px;
}

p {
    font-weight: 700;
}
