.div-setting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
p{
    font-weight: 700;
}
.button-hidden{
    visibility: hidden;
    z-index: 100;
    cursor: pointer;
    position:absolute;
    left: 980px;
    top: 280px;
    height: 40px;
    width: 50px;
} 