.all {
    border: none;
    background-color: transparent;
    transition: background-image .3s linear;
    font: DoloresCyr;
    font-size: 12px;
    color: white;
    height: 40px;
}

.but {
    width: 250px;
}

.but-back {
    width: 100px;
    color: #22B14C;
}

.but-middle {
    width: 130px;
}

.but-skip{
    width: 150px;
}

.but-arrow {
    width: 15px;
    height: 27px;
}

.but-back:before {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 15px;
    height: 18px;
    width: 10px;
    background-size: 100%;
    background-position: 50% 50%;
    background-image: url(button-img/arrow.svg);
    transition: background-image .3s linear;
}

.but-back:hover:before {
    background-image: url(button-img/arrow-hover.svg);
    background-color: #1F993F
}

.bgi {
    background-image: url(button-img/button.svg);
}

.bgi:hover {
    background-image: url(button-img/button-active.svg);
}

.bgi-back {
    background-image: url(button-img/back-button.svg);
}

.bgi-back:hover {
    background-image: url(button-img/back-button-hover.svg);
    color: white;
}

.bgi-start {
    background-color: url(button-img/start-button.svg);
}

.bgi-invite {
    background-image: url(button-img/Invite-button.svg);
}

.bgi-arrow1 {
    background-image: url(button-img/arrow1.svg);
}

.bgi-arrow2 {
    background-image: url(button-img/arrow2.svg);
}

.bgi-skip{
    background-image: url(button-img/skip-button.svg);
}