.df {
  display: flex;
}

.fw-w {
  flex-wrap: wrap;
}

.fw-nw {
  flex-wrap: nowrap;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.fd-cr {
  flex-direction: column-reverse;
}

.fd-rr {
  flex-direction: row-reverse;
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-str {
  align-items: stretch;
}

.ai-bl {
  align-items: baseline;
}

.as-c {
  align-self: center;
}

.as-fs {
  align-self: flex-start;
}

.as-fe {
  align-self: flex-end;
}

.as-bl {
  align-self: baseline;
}

.as-str {
  align-self: stretch;
}

@for $i from 0 through 10 {
  .fg-#{$i} {flex-grow: $i;}
}

@for $i from 0 through 10 {
  .fsh-#{$i} {flex-shrink: $i;}
}
