.dg {
  display: grid;
}

@for $i from 1 through 10 {
  .gt-c-#{$i} {grid-template-columns: repeat($i, 1fr);}
}

@for $i from 1 through 10 {
  .gt-r-#{$i} {grid-template-rows: repeat($i, 1fr);}
}

@for $i from 1 through 10 {
  .gc-s-#{$i} {grid-column-start: $i;}
}

@for $i from 1 through 10 {
  .gc-e-#{$i} {grid-column-end: $i;}
}

@for $i from 1 through 10 {
  .gr-s-#{$i} {grid-row-start: $i;}
}

@for $i from 0 through 20 {
  .gr-g-#{$i*5} {grid-row-gap: 5*$i+px;}
}

@for $i from 0 through 20 {
  .gc-g-#{$i*5} {grid-column-gap: 5*$i+px;}
}

@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .gg-#{$i*5}-#{$j*5} {grid-gap: 5*$i+px 5*$j+px;}
  }
}