@for $i from 0 through 20 {
  .p-#{$i*5} {padding: 5*$i+px;}
}

@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .p-#{$i*5}-#{$j*5} {padding: 5*$i+px 5*$i+px;}
  }
}

@for $i from 0 through 20 {
  @each $name in t, r, b, l {
    .p-#{$name}-#{$i*5} {
      @if $name == t {
        padding-top: 5*$i+px;
      }
      @else if $name == r {
        padding-right: 5*$i+px;
      }
      @else if $name == b {
        padding-bottom: 5*$i+px;
      }
      @else {
        padding-left: 5*$i+px;
      }
    }
  }
}