.game-chat-block {
    .form-with-inp-but {
        width: 290px;
        margin: 10px 0;

        .input {
            width: 280px;
        }
    }

    .box {
        width: 280px;
        height: 95px;
        overflow-y: auto;
    }

    &__messages {
        min-height: 95px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .item {
            height: 15px;
            margin: 5px 5px;
            font-size: 12px;
            color: #000;

            .from {
                font-weight: 800;
            }
        }
    }
}